# Created by .ignore support plugin (hsz.mobi)
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
list.txt
Masselink.jpg
CNAME_backup
http_server.py
index_backup.md
_layouts
_posts/2014-3-3-Hello-World.md
_posts/2017-3-11-Hello-World.md
_posts/blog/qgis.md
# _includes
# _sass
# style.scss
_config_backup.yml
maps/templates
html-version.html
