# Created by .ignore support plugin (hsz.mobi)
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
index.html
list.txt
Masselink.jpg
CNAME_backup
http_server.py
# _layouts
_posts
# _includes
# _sass
# style.scss
